<div class="modal-header">
  <button type="button" class="close" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Advanced Brand Management</h4>
</div>
<div class="modal-body">
  <p>Coming soon, we're planning the following features:</p>
  <ul>
    <li><strong>Jason Nellis' personal branding service</strong> &mdash; 25% buzzword saturation guaranteed!</li>
    <li><strong>Frank Taylor's special massage</strong> &mdash; After a strategic partnership with Fleshlight, Restin chairs now come with one-size fits all "cup" holders.</li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="switchExpertise('simple')">Use the Simple Version</button>
</div>