

<div class="jumbotron row">
  <h1>Go Brand Yourself</h1>
  <div class="col-sm-6">
    <div class="thumbnail">
      <img src="http://www.fillmurray.com/300/200" alt="...">
      <div class="caption">
        <h3>Beginner</h3>
        <p>You know nothing.</p>
        <p><a ui-sref="search" ng-click="setExpertise('beginner')" class="btn btn-primary" role="button">Beginner &raquo;</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail">
      <img src="http://www.fillmurray.com/300/200" alt="...">
      <div class="caption">
        <h3>Pro</h3>
        <p>You know everything.</p>
        <p><a ui-sref="search" ng-click="setExpertise('pro')" class="btn btn-primary" role="button">Pro &raquo;</a></p>
      </div>
    </div>
  </div>
</div>