<div class="row spacer">
	<div class="col-md-12">
		<p>Welcome to Brand Forge. Now you can instantly verify the availability of a brand name across multiple online channels including top level domains and social media platforms.</p>
		<p>Select the category that best describes your intended market, then start entering terms. We'll do the rest.</p>
	</div>
</div>

<div class="row spacer">
	<div class="col-md-12">
		<div class="btn-group btn-group-justified">
		  <div class="btn-group">
		    <button type="button" class="btn btn-default" ng-class="activeExpertise('simple')" ng-click="expertiseLevel('simple')">Simple Search</button>
		  </div>
		  <div class="btn-group">
		    <button type="button" class="btn btn-default" ng-class="activeExpertise('advanced')" ng-click="expertiseLevel('advanced')">Advanced Search</button>
		  </div>
		</div>
	</div>
</div>

<div class="row spacer" ng-show="expertise">
	<form ng-submit="searchSubmit()">
	<div class="col-md-12">
	    <div class="input-group">
	      <input type="text" class="form-control" ng-model="domainSearch" placeholder="Enter your brand or leave it blank to generate a random brand">
	      <span class="input-group-btn">
	        <button class="btn btn-warning" type="button" ng-click="searchSubmit()">Search</button>
	      </span>
	    </div>
	</div>
	</form>
</div>

<div ng-controller="DomainCtrl" ng-show="domain">
	<div class="row spacer">
		<div class="col-md-12">
			<div class="btn-group btn-group-justified">
				<div class="btn-group">
					<button class="btn btn-warning" ng-click="openRegisterModal()">Register!</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row spacer">
		<div class="col-md-3">
			<h5>Domain Names</h5>
			<button class="btn sm-spacer" ng-class="availableClass(domain.comAvailable)">{{domain.name}}.com</button>
			<button class="btn sm-spacer" ng-class="availableClass(domain.orgAvailable)">{{domain.name}}.org</button>
			<button class="btn sm-spacer" ng-class="availableClass(domain.netAvailable)">{{domain.name}}.net</button>
		</div>
		<div class="col-md-9">
			<h5>Social Media Platforms</h5>
			<div>
				<button ng-repeat="platform in platforms" class="btn reg-btn sm-spacer hz" ng-class="availableClass(platform.available)">{{platform.name}}</button>
			</div>
		</div>
	</div>
	<div class="row spacer" ng-show="alternatives.length > 0">
		<div class="col-md-12">
			<h5>Alternatives</h5>
			<button ng-repeat="alternative in alternatives | orderBy:random" ng-hide="$index > 5" class="btn sm-spacer hz" ng-click="clickAlternative(alternative.name)">{{alternative.name}}</button>
		</div>
	</div>
</div>